.container{
    height: 80vh;
    width: 60vw;
    position: absolute;
    top: 10%;
    left: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    background-color: mediumseagreen;
    border-radius: 20px;
}
.two{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.three{
    height: 50px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input{
    width: 90%;
    margin: 0 auto;
    padding: 10px 10px;
    text-align: center;
    border: 1.5px solid black;
}
.form1{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.four{
    height: 50px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button{
    width: 90%;
    margin: 0 auto;
    padding: 10px 10px;
    text-align: center;
    border: 1.5px solid black;
}
.five{
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.six{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h2{
    margin: 0 auto;
}